<%= form_for(@direccionusuario) do |f| %>
  <% if @direccionusuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@direccionusuario.errors.count, "error") %> prohibited this direccionusuario from being saved:</h2>

      <ul>
      <% @direccionusuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :calle %><br />
    <%= f.text_field :calle %>
  </div>
  <div class="field">
    <%= f.label :numInterior %><br />
    <%= f.text_field :numInterior %>
  </div>
  <div class="field">
    <%= f.label :numExterior %><br />
    <%= f.text_field :numExterior %>
  </div>
  <div class="field">
    <%= f.label :codigoPostal %><br />
    <%= f.text_field :codigoPostal %>
  </div>
  <div class="field">
    <%= f.label :colonia %><br />
    <%= f.text_field :colonia %>
  </div>
  <div class="field">
    <%= f.label :municipio %><br />
    <%= f.text_field :municipio %>
  </div>
  <div class="field">
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </div>
  <div class="field">
    <%= f.label :pais %><br />
    <%= f.text_field :pais %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
