<h1>Listing direccionusuarios</h1>

<table>
  <tr>
    <th>Calle</th>
    <th>Numinterior</th>
    <th>Numexterior</th>
    <th>Codigopostal</th>
    <th>Colonia</th>
    <th>Municipio</th>
    <th>Estado</th>
    <th>Pais</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @direccionusuarios.each do |direccionusuario| %>
  <tr>
    <td><%= direccionusuario.calle %></td>
    <td><%= direccionusuario.numInterior %></td>
    <td><%= direccionusuario.numExterior %></td>
    <td><%= direccionusuario.codigoPostal %></td>
    <td><%= direccionusuario.colonia %></td>
    <td><%= direccionusuario.municipio %></td>
    <td><%= direccionusuario.estado %></td>
    <td><%= direccionusuario.pais %></td>
    <td><%= link_to 'Show', direccionusuario %></td>
    <td><%= link_to 'Edit', edit_direccionusuario_path(direccionusuario) %></td>
    <td><%= link_to 'Destroy', direccionusuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Direccionusuario', new_direccionusuario_path %>
