<%= form_for(@telefononegocio) do |f| %>
  <% if @telefononegocio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@telefononegocio.errors.count, "error") %> prohibited this telefononegocio from being saved:</h2>

      <ul>
      <% @telefononegocio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
