<p id="notice"><%= notice %></p>

<p>
  <b>Telefono:</b>
  <%= @telefononegocio.telefono %>
</p>

<p>
  <b>Tipo:</b>
  <%= @telefononegocio.tipo %>
</p>


<%= link_to 'Edit', edit_telefononegocio_path(@telefononegocio) %> |
<%= link_to 'Back', telefononegocios_path %>
