<p id="notice"><%= notice %></p>


<p>
  <b>Telefono:</b>
  <%= @telefonousuario.telefono %>
</p>

<p>
  <b>Tipo:</b>
  <%= @telefonousuario.tipo %>
</p>


<%= link_to 'Edit', edit_telefonousuario_path(@telefonousuario) %> |
<%= link_to 'Back', telefonousuarios_path %>
